In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

cf = pd.read_csv('MUR.csv')

cf

,Unnamed: 0,2011-12,2012-12,2013-12,2014-12,2015-12,TTM
0,Cash Flows From Operating Activities,NaN,NaN,NaN,NaN,NaN,NaN
1,Net income,873.0,971.0,1123.0,906.0,-2271.0,-2455.0
2,Depreciation & amortization,1093.0,1376.0,1553.0,1906.0,1620.0,1425.0
3,Amortization of debt discount/premium and issu...,179.0,192.0,124.0,134.0,131.0,120.0
4,Investment/asset impairment charges,369.0,261.0,22.0,51.0,2493.0,NaN
5,Deferred income taxes,172.0,317.0,158.0,-171.0,-978.0,-880.0
6,(Gain) Loss from discontinued operations,-132.0,-7.0,-235.0,119.0,15.0,-4.0
7,Accounts receivable,-44.0,-309.0,224.0,176.0,298.0,-3.0
8,Inventory,-59.0,-158.0,14.0,26.0,-15.0,47.0
9,Prepaid expenses,21.0,-243.0,195.0,7.0,-145.0,-39.0
10,Income taxes payable,NaN,41.0,-6.0,-164.0,-69.0,-93.0
11,Other working capital,-743.0,268.0,-161.0,-48.0,-33.0,-240.0
12,Other non-cash items,417.0,348.0,627.0,107.0,138.0,2814.0
13,Net cash provided by operating activities,2145.0,3056.0,3638.0,3049.0,1183.0,693.0
14,Cash Flows From Investing Activities,NaN,NaN,NaN,NaN,NaN,NaN
15,"Investments in property, plant, and equipment",-2623.0,-3687.0,-3590.0,-3679.0,-2550.0,-1936.0
16,"Property, plant, and equipment reductions",28.0,1.0,2.0,1467.0,424.0,7.0
17,Purchases of investments,-1689.0,-1619.0,-923.0,-986.0,-912.0,-695.0
18,Sales/Maturities of investments,1774.0,2036.0,664.0,900.0,1129.0,915.0
19,Other investing activities,897.0,-47.0,117.0,-19.0,-14.0,-35.0
20,Net cash used for investing activities,-1614.0,-3317.0,-3731.0,-2318.0,-1922.0,-1745.0
21,Cash Flows From Financing Activities,NaN,NaN,NaN,NaN,NaN,NaN
22,Debt issued,NaN,1995.0,350.0,100.0,600.0,816.0
23,Debt repayment,-340.0,-350.0,NaN,-25.0,-460.0,-11.0
24,Repurchases of treasury stock,NaN,-250.0,-500.0,-375.0,-250.0,NaN
25,Cash dividends paid,-213.0,-714.0,-235.0,-236.0,-245.0,-243.0
26,Other financing activities,4.0,5.0,277.0,-8.0,-9.0,-251.0
27,Net cash provided by (used for) financing acti...,-548.0,686.0,-108.0,-545.0,-365.0,311.0
28,Effect of exchange rate changes,-5.0,9.0,3.0,-4.0,10.0,0.0
29,Net change in cash,-22.0,433.0,-197.0,182.0,-1093.0,-741.0
30,Cash at beginning of period,536.0,514.0,947.0,910.0,1193.0,981.0
31,Cash at end of period,514.0,947.0,750.0,1093.0,100.0,240.0
32,Free Cash Flow,NaN,NaN,NaN,NaN,NaN,NaN
33,Operating cash flow,2145.0,3056.0,3638.0,3049.0,1183.0,693.0
34,Capital expenditure,-2623.0,-3687.0,-3590.0,-3679.0,-2550.0,-1936.0
35,Free cash flow,-478.0,-631.0,48.0,-631.0,-1366.0,-1243.0

In [22]:
div = cf.iloc[25] * -1
div

Unnamed: 0
2011-12       213
2012-12       714
2013-12       235
2014-12       236
2015-12       245
TTM           243
Name: 25, dtype: object

In [25]:
cf.fillna(value = 0, inplace = True)
cf

,Unnamed: 0,2011-12,2012-12,2013-12,2014-12,2015-12,TTM
0,Cash Flows From Operating Activities,0.0,0.0,0.0,0.0,0.0,0.0
1,Net income,873.0,971.0,1123.0,906.0,-2271.0,-2455.0
2,Depreciation & amortization,1093.0,1376.0,1553.0,1906.0,1620.0,1425.0
3,Amortization of debt discount/premium and issu...,179.0,192.0,124.0,134.0,131.0,120.0
4,Investment/asset impairment charges,369.0,261.0,22.0,51.0,2493.0,0.0
5,Deferred income taxes,172.0,317.0,158.0,-171.0,-978.0,-880.0
6,(Gain) Loss from discontinued operations,-132.0,-7.0,-235.0,119.0,15.0,-4.0
7,Accounts receivable,-44.0,-309.0,224.0,176.0,298.0,-3.0
8,Inventory,-59.0,-158.0,14.0,26.0,-15.0,47.0
9,Prepaid expenses,21.0,-243.0,195.0,7.0,-145.0,-39.0
10,Income taxes payable,0.0,41.0,-6.0,-164.0,-69.0,-93.0
11,Other working capital,-743.0,268.0,-161.0,-48.0,-33.0,-240.0
12,Other non-cash items,417.0,348.0,627.0,107.0,138.0,2814.0
13,Net cash provided by operating activities,2145.0,3056.0,3638.0,3049.0,1183.0,693.0
14,Cash Flows From Investing Activities,0.0,0.0,0.0,0.0,0.0,0.0
15,"Investments in property, plant, and equipment",-2623.0,-3687.0,-3590.0,-3679.0,-2550.0,-1936.0
16,"Property, plant, and equipment reductions",28.0,1.0,2.0,1467.0,424.0,7.0
17,Purchases of investments,-1689.0,-1619.0,-923.0,-986.0,-912.0,-695.0
18,Sales/Maturities of investments,1774.0,2036.0,664.0,900.0,1129.0,915.0
19,Other investing activities,897.0,-47.0,117.0,-19.0,-14.0,-35.0
20,Net cash used for investing activities,-1614.0,-3317.0,-3731.0,-2318.0,-1922.0,-1745.0
21,Cash Flows From Financing Activities,0.0,0.0,0.0,0.0,0.0,0.0
22,Debt issued,0.0,1995.0,350.0,100.0,600.0,816.0
23,Debt repayment,-340.0,-350.0,0.0,-25.0,-460.0,-11.0
24,Repurchases of treasury stock,0.0,-250.0,-500.0,-375.0,-250.0,0.0
25,Cash dividends paid,-213.0,-714.0,-235.0,-236.0,-245.0,-243.0
26,Other financing activities,4.0,5.0,277.0,-8.0,-9.0,-251.0
27,Net cash provided by (used for) financing acti...,-548.0,686.0,-108.0,-545.0,-365.0,311.0
28,Effect of exchange rate changes,-5.0,9.0,3.0,-4.0,10.0,0.0
29,Net change in cash,-22.0,433.0,-197.0,182.0,-1093.0,-741.0
30,Cash at beginning of period,536.0,514.0,947.0,910.0,1193.0,981.0
31,Cash at end of period,514.0,947.0,750.0,1093.0,100.0,240.0
32,Free Cash Flow,0.0,0.0,0.0,0.0,0.0,0.0
33,Operating cash flow,2145.0,3056.0,3638.0,3049.0,1183.0,693.0
34,Capital expenditure,-2623.0,-3687.0,-3590.0,-3679.0,-2550.0,-1936.0
35,Free cash flow,-478.0,-631.0,48.0,-631.0,-1366.0,-1243.0

In [26]:
div

Unnamed: 0
2011-12       213
2012-12       714
2013-12       235
2014-12       236
2015-12       245
TTM           243
Name: 25, dtype: object

In [28]:
debt = cf.iloc[23] + cf.iloc[22]
debt = debt * -1
debt

Unnamed: 0
2011-12        340
2012-12      -1645
2013-12       -350
2014-12        -75
2015-12       -140
TTM           -805
dtype: object

In [29]:
equity = cf.iloc[24] * -1
sh = div + equity + debt
sh

Unnamed: 0
2011-12       553
2012-12      -681
2013-12       385
2014-12       536
2015-12       355
TTM          -562
dtype: object